<%- include('header'); -%>
Dear Mr/Mrs. <%= viewData.customer_name %>,
<p>Your Account Register Sucessfully.</p>

<p>Please use the following link to to verify your account:</p>

<%= viewData.verfication_link %>,

<br>Regards,<br>
BuyUr Ticket Team.<br>
