<%- include('header'); -%>
Dear Mr/Mrs. <%= viewData.customer_name %>,
<p>Your Event(<%= viewData.event_name %>) Got Declined.</p>

<p> <%= viewData.declined_message %></p>
<br>Regards,<br>
BuyUr Ticket Team.<br>
