<%- include('header'); -%>
Dear Mr/Mrs. <%= viewData.customer_name %>,
<p>Your Ticket Booked Successfully.</p>

<p>Please find the attachment for more details.</p>

<br>Regards,<br>
BuyUr Ticket Team.<br>
